*.DS_Store
*node_modules
*.docker-sync
*npm-debug.log
yarn.lock
yarn-error.log
tmp/*

*.log
sitemap.xml
sitemap.xml.gz
wp-config.php

html/assets/advanced-cache.php
html/assets/backup-db/
html/assets/backups/
html/assets/cache/
html/assets/upgrade/
html/assets/uploads/
html/assets/wp-cache-config.php
html/assets/plugins/hello.php

html/wp.tar.gz